body, html {
    width: 100%;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgba(38, 38, 38, 1.00);
    height: 100vh;
    width: auto;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.imag_bar_top, .imag_bar_bottom {
    display: flex;
    padding: 1em;
    width: 1.5em;
}

.imag_bar_top {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.imag_bar_bottom {
    display: flex;
    flex-direction: column;
}

.img {
    margin-top: 60px;
    max-width: 100%;
}

/*chat*/
.chats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 30, 30, 1.00);
}

/*header*/
header {
    display: flex;
    width: 100vh;
    background: rgba(38, 38, 38, 1.00);
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    align-self: flex-start;
}

.header_and_bar{
    display: flex;
    flex-direction: row;
}

.header_and_chat{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.friend_profile {
    display: flex;
    flex-direction: row;
}

.friend_img {
    width: 38px;
    height: 38px;
}

.friend_name {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.active {
    font-size: 12px;
    font-weight: 400;
    color: rgba(112, 112, 112, 1.00);
}

.friend_profile_subscription {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}

.communicate_bar {
    display: flex;
    height: 38px;
    margin-right: 3.5em;
}

.phone_img {
    margin-right: 1em;
}
/*header*/

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.chat_sidebar {
    background-color: rgba(38, 38, 38, 1.00);
    width: 40%;
    height: 100vh;
}

.chat_bar {
    background-color: rgba(30, 30, 30, 1.00);
    width: 100vh;
    height: 100vh;
}

.profile {
    display: none;
    background-color: rgba(38, 38, 38, 1.00);
    height: 100%;
}